img {
    padding-bottom: 10%;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

body {
    padding-top: 70px;
}

.jumbotron {
    background: #a4bbd240;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
    color: rgb(255,255,255);
}

.img_container{
    padding:0;
}